# Bybit API credentials
BYBIT_API_KEY=YOUR_API_KEY_HERE
BYBIT_API_SECRET=YOUR_API_SECRET_HERE
BYBIT_ACCOUNT_TYPE=unified

# Grid Trading parameters
#GRID_LEVELS=12
#GRID_SPREAD=0.001
#LEVEL_AMOUNT=4.0
LOG_MULTIPLIER=1.5

SYMBOLS=DOGE/USDT
RISK_LEVEL=17
